.hidden {
    display: none;
}

nav, footer {
    background-color: #f393bc;
    height: 50px;
    width: auto;
}

body {
    background-color: #ffb8d9;
}

h2 {
    font-size: 30px;
    color: white;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

#lightning_info {
    border-radius: 5px;
    border: 2px solid white;
    text-align: center;
    margin-bottom: 20px;
}

#lightning_info:hover {
    cursor: pointer;
}

#lightning_info p {
    font-size: 20px;
    color: white;
    margin-bottom: 20px;
}