.hidden {
    display: none;
}

nav, footer {
    background-color: #f393bc;
    height: 50px;
    width: auto;
}

body {
    background-color: #ffb8d9;
}

h2 {
    font-size: 30px;
    color: white;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

h3 {
    font-size: 25px;
    color: white;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

#lightning_info, #monika_info, #information {
    border-radius: 5px;
    border: 2px solid white;
    text-align: center;
    margin-bottom: 20px;
}

#information {
    padding-top: 10px;
}

#lightning_info:hover, #monika_info:hover {
    cursor: pointer;
}

#information p {
    font-size: 20px;
    color: white;
    margin-bottom: 15px;
}

#information p:last-of-type {
    margin-bottom: 0px;
}